.productContainer {
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
  outline: none;

  &:hover {
    transition: 0.3s;
    transform: scale(1.05);
    padding: 0.5rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .outOfStockText {
    position: absolute;
    color: #161616;
    top: 40%;
    right: 30%;
    text-transform: uppercase;
    font-size: 0.6em;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: #1d1f22;
    .productImg {
      width: 100%;
      height: 270px;
      position: relative;
      object-fit: cover;
      transition: 0.2s;
      border-radius: 4px;

      @media only screen and (min-width: 768px) {
        height: 320px;
      }
    }
  }

  .productTitle {
    font-weight: 300;
    font-size: 18px;
  }

  .productPrice {
    font-weight: 500;
    font-size: 18px;
  }

  .buyButton {
    position: absolute;
    bottom: 2rem;
    right: 1.4rem;
    color: #fff;
    background-color: #5ece7b;
    border: none;
    font-size: 1.5rem;
    padding: 13px;
    font-weight: 600;
    border-radius: 100%;
    cursor: pointer;
  }
}
